In [1]:
import pandas as pd
from sqlalchemy import create_engine, types, text
import urllib

# --- CONFIGURAÇÕES ---
PG_USER = 'postgres'
PG_PASS = 'Atria202501'
PG_DB   = 'postgres'
PG_SCHEMA = 'principal'

AZ_SERVER = 'atria-sql-server.database.windows.net'
AZ_DB     = 'db_atria_main'
AZ_USER   = 'admin_atria'
AZ_PASS   = '12569874Investimentos*'
AZ_DRIVER = 'ODBC Driver 17 for SQL Server'

# --- CONEXÃO ---
print("Conectando aos bancos...")
pg_engine = create_engine(f"postgresql+psycopg2://{PG_USER}:{PG_PASS}@localhost:5432/{PG_DB}")
params = urllib.parse.quote_plus(f"DRIVER={{{AZ_DRIVER}}};SERVER={AZ_SERVER};DATABASE={AZ_DB};UID={AZ_USER};PWD={AZ_PASS}")
az_engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}", fast_executemany=True)

# 1. Obter lista de tabelas automaticamente
print("Buscando lista de tabelas no PostgreSQL...")
sql_tables = text(f"SELECT table_name FROM information_schema.tables WHERE table_schema = '{PG_SCHEMA}' AND table_type = 'BASE TABLE'")

with pg_engine.connect() as conn:
    todas_tabelas = [r[0] for r in conn.execute(sql_tables).fetchall()]

# Remove a base_btg da lista para não fazer de novo
tabelas_para_migrar = ['base_btg']

print(f"Tabelas encontradas para migrar: {tabelas_para_migrar}")

# --- LOOP DE MIGRAÇÃO ---
for tabela in tabelas_para_migrar:
    print(f"\n---------------------------------------------------")
    print(f"Iniciando tabela: {tabela}")
    
    try:
        # 2. Ler colunas para montar a query de texto
        cols_query = text(f"SELECT column_name FROM information_schema.columns WHERE table_schema = '{PG_SCHEMA}' AND table_name = '{tabela}'")
        with pg_engine.connect() as conn:
            cols = [c[0] for c in conn.execute(cols_query).fetchall()]
        
        # Se a tabela estiver vazia de colunas, pula
        if not cols:
            print(f"Aviso: Tabela {tabela} parece não ter colunas. Pulando.")
            continue

        # Monta SELECT com cast ::TEXT
        select_parts = [f'"{c}"::TEXT AS "{c}"' for c in cols]
        query = f'SELECT {", ".join(select_parts)} FROM {PG_SCHEMA}."{tabela}"'

        df = pd.read_sql(query, pg_engine)
        print(f"Lidos {len(df)} registros.")

        if len(df) == 0:
            print(f"Tabela {tabela} vazia. Criando estrutura no Azure sem dados...")
        
        # 3. Tratamento (Mesma lógica da base_btg)
        df.columns = [c.strip() for c in df.columns]
        df = df.replace([r'^\s*$', 'nan', 'None', 'NaN'], None, regex=True)

        dtype_mapping = {}

        for col in df.columns:
            col_lower = col.lower()
            
            # DATAS
            if any(x in col_lower for x in ['data', 'aniversário', 'aporte', 'vínculo', 'date', 'dt_']):
                df[col] = pd.to_datetime(df[col], errors='coerce')
                dtype_mapping[col] = types.DateTime

            # CÓDIGOS E IDS (Remove .0 e força texto)
            elif any(x in col_lower for x in ['id', 'conta', 'código', 'cod', 'cpf', 'cnpj']):
                df[col] = df[col].astype(str).str.replace(r'\.0$', '', regex=True)
                df[col] = df[col].replace(['None', 'nan', '<NA>'], None)
                dtype_mapping[col] = types.VARCHAR(255)
            
            # NÚMEROS REAIS
            elif any(x in col_lower for x in ['pl', 'valor', 'renda', 'aportes', 'retiradas', 'corrente', 'perc', 'pct', 'taxa']):
                df[col] = pd.to_numeric(df[col], errors='coerce')
                dtype_mapping[col] = types.FLOAT

            # RESTO
            else:
                dtype_mapping[col] = types.VARCHAR(None)

        # 4. Enviar
        print(f"Enviando {tabela} para o Azure...")
        df.to_sql(
            tabela, 
            az_engine, 
            schema='dbo', 
            if_exists='replace', 
            index=False, 
            dtype=dtype_mapping,
            chunksize=300
        )
        print(f"Sucesso: {tabela} migrada.")

    except Exception as e:
        print(f"ERRO ao migrar tabela {tabela}: {e}")

print("\nProcesso finalizado para todas as tabelas.")

Conectando aos bancos...
Buscando lista de tabelas no PostgreSQL...
Tabelas encontradas para migrar: ['base_btg']

---------------------------------------------------
Iniciando tabela: base_btg
Lidos 1162 registros.
Enviando base_btg para o Azure...

C:\Users\joaob\AppData\Local\Temp\ipykernel_26768\2445115355.py:72: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors='coerce')
C:\Users\joaob\AppData\Local\Temp\ipykernel_26768\2445115355.py:72: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce')
C:\Users\joaob\AppData\Local\Temp\ipykernel_26768\2445115355.py:72: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[col] = pd.to_datetime(df[col], errors='coerce')

ERRO ao migrar tabela base_btg: (pyodbc.DataError) ('22007', '[22007] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The conversion of a datetime2 data type to a datetime data type resulted in an out-of-range value. (242) (SQLParamData); [22007] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)')
[SQL: INSERT INTO dbo.base_btg ([Nome], [Conta], [PL Total], [Assessor], [Tipo Parceiro], [E-mail], [Carteira Administrada], [Tipo], [Aniversário], [Profissão / Setor], [Estado Civil], [Cidade], [Estado], [Data de Abertura da Conta], [Data Vínculo Assessor], [Tipo Investidor], [Termo de Marcação na Curva], [Faixa Cliente], [1º Aporte], [Último Aporte], [Qtd de Aportes], [Aportes], [Retiradas], [Qtd de Ativos], [Qtd Fundos], [Qtd Renda Fixa], [Qtd Renda Variável], [Qtd Previdência], [Qtd Derivativos], [Qtd Valor em Trânsito], [Conta Corrente], [Fundos], [Renda Fixa], [Renda Variável], [Previdência], [Derivativos], [Valor em Trânsito], [Renda Anual], [PL Declarado], [Código do Escritório], [Escritório], [Código do Assessor], [Data Vínculo Escritório], [E-mail Assessor], [ID Cliente]) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]
[parameters: [('Danilo', '9015857', 10613.71, 'ROSANA APARECIDA PAVANI DA SILVA', 'AGENTE AUTONOMO', 'danilo@rilsmedicoes.com.br', None, 'PF', datetime.datetime(1981, 7, 30, 0, 0), 'Empresário (a)', 'Casado', 'SAO BERNARDO DO CAMPO', 'SAO PAULO', datetime.datetime(2025, 6, 23, 0, 0), datetime.datetime(2025, 7, 4, 0, 0), 'Nao Qualificado', None, 'Até 300k', datetime.datetime(2025, 9, 2, 0, 0), None, None, None, None, '1', '1', None, None, None, None, None, '0', '10613.71', None, None, None, None, None, 150000.0, 1000000.0, '21236926', 'ATRIA INVESTIMENTOS AI LTDA', '915406', datetime.datetime(2025, 7, 3, 20, 25, 58), 'rosana.pavani@atriainvest.com.br', '835c281ba5f088b403edad88805f7a6a'), ('Arthur', '9042091', 0.0, 'VITOR OLIVEIRA DOS REIS', 'AGENTE AUTONOMO', 'aparthur2@gmail.com', None, 'PF', datetime.datetime(1999, 11, 4, 0, 0), 'Agente Autônomo de Investimento', 'Solteiro', 'PORTO ALEGRE', 'RIO GRANDE DO SUL', datetime.datetime(2025, 6, 30, 0, 0), datetime.datetime(2026, 1, 5, 0, 0), 'Nao Qualificado', None, 'Até 300k', datetime.datetime(2025, 7, 14, 0, 0), None, None, None, None, None, None, None, None, None, None, None, '0', None, None, None, None, None, None, 360000.0, 100000.1, '21236926', 'ATRIA INVESTIMENTOS AI LTDA', '19496701', datetime.datetime(2025, 7, 16, 17, 43, 32), 'vitor.reis@atriainvest.com.br', '2c168d6115b9388f789a25bb8b849663'), ('Pbfm', '9061265', 44.92, 'FERNANDO DOMINGUES DA SILVA', 'AGENTE AUTONOMO', 'philipe.gouvea@gci.com.br', None, 'PJ', datetime.datetime(2025, 6, 18, 0, 0), 'Industria', None, 'SAO PAULO', 'SAO PAULO', datetime.datetime(2025, 7, 4, 0, 0), datetime.datetime(2025, 7, 4, 0, 0), 'Nao Qualificado', None, 'Até 300k', datetime.datetime(2025, 7, 8, 0, 0), None, None, None, None, None, None, None, None, None, None, None, '44.92', None, None, None, None, None, None, 600000.0, 0.0, '21236926', 'ATRIA INVESTIMENTOS AI LTDA', '406354', datetime.datetime(2025, 7, 4, 21, 0, 49), None, 'e7d433dfb160dc9834a2fde1c1c7a1fa'), ('Triade', '9066453', 0.0, 'FERNANDO DOMINGUES DA SILVA', 'AGENTE AUTONOMO', 'philipe.gouvea@gci.com.br', None, 'PJ', datetime.datetime(2025, 7, 2, 0, 0), 'Industria', None, 'GOIANIA', 'GOIAS', datetime.datetime(2025, 7, 7, 0, 0), datetime.datetime(2025, 7, 7, 0, 0), 'Nao Qualificado', None, 'Até 300k', datetime.datetime(2025, 7, 8, 0, 0), None, None, None, None, None, None, None, None, None, None, None, '0', None, None, None, None, None, None, 600000.0, 4280000.0, '21236926', 'ATRIA INVESTIMENTOS AI LTDA', '406354', datetime.datetime(2025, 7, 7, 14, 50, 43), None, '6d95410404f5652d30765916798e4d82'), ('Beatriz', '9075493', 89077.43, 'RAFAEL PASOLD MEDEIROS', 'AGENTE AUTONOMO', 'gualdinobeatriz@gmail.com', None, 'PF', datetime.datetime(1994, 11, 22, 0, 0), 'Empresário (a)', 'Solteiro', 'SAO JOSE DO RIO PRETO', 'SAO PAULO', datetime.datetime(2025, 7, 9, 0, 0), datetime.datetime(2025, 10, 27, 0, 0), 'Profissional', 'Sim', 'Até 300k', datetime.datetime(2025, 7, 10, 0, 0), datetime.datetime(2026, 2, 2, 0, 0), None, None, None, '32', '1', 4.0, 15.0, None, None, 12.0, '49.81', '31253.75', 41115.25, 16518.93, None, None, 139.69, 300000.0, 90000.0, '21236926', 'ATRIA INVESTIMENTOS AI LTDA', '643268', datetime.datetime(2025, 10, 27, 20, 1, 36), 'rafael.pasold@atriainvest.com.br', 'f88bf401b21532bc652329ff8a6ff796'), ('Tiago', '9080245', 2156044.98, 'FERNANDO DOMINGUES DA SILVA', 'AGENTE AUTONOMO', 'tiagopintooliveira@gmail.com', None, 'PF', datetime.datetime(1981, 5, 31, 0, 0), 'Funcionário Público (a)', 'Casado', 'BRASILIA', 'DISTRITO FEDERAL', datetime.datetime(2025, 7, 10, 0, 0), datetime.datetime(2025, 7, 10, 0, 0), 'Nao Qualificado', None, 'Entre 1MM e 3MM', datetime.datetime(2025, 7, 14, 0, 0), datetime.datetime(2026, 2, 3, 0, 0), None, None, None, '14', '1', None, 6.0, None, None, 7.0, '290.08', '651248.44', None, 1489405.06, None, None, 15101.4, 465000.0, 5000000.0, '21236926', 'ATRIA INVESTIMENTOS AI LTDA', '406354', datetime.datetime(2025, 7, 10, 18, 58), None, '66d4ba83d2e97caf49d47ac1cd100c0a'), ('Jbp', '9094529', 346684.38, 'RODRIGO DE MELLO D’ELIA', 'AGENTE AUTONOMO', 'batistapi@btpurbanismo.com.br', None, 'PJ', datetime.datetime(2024, 7, 12, 0, 0), 'Servicos', None, 'MANAUS', 'AMAZONAS', datetime.datetime(2025, 7, 15, 0, 0), datetime.datetime(2025, 7, 15, 0, 0), 'Qualificado', 'Sim', 'Entre 300k e 500k', datetime.datetime(2025, 7, 16, 0, 0), datetime.datetime(2026, 2, 3, 0, 0), None, None, None, '16', None, 1.0, 5.0, None, None, 10.0, '420.02', None, 15078.94, 329040.8, None, None, 2144.62, 2400000.0, 0.0, '21236926', 'ATRIA INVESTIMENTOS AI LTDA', '824074', datetime.datetime(2025, 7, 15, 14, 46, 53), 'rodrigo.delia@atriainvest.com.br', 'fb19b98acb3abf2b1f336094109b8f54'), ('Augusto', '9100665', 370918.41, 'CAIC ZEM GOMES', 'AGENTE AUTONOMO', 'AUGUSTOFPDAROCHA@HOTMAIL.COM', None, 'PF', datetime.datetime(1989, 2, 25, 0, 0), 'Administrador (a)', 'Solteiro', 'RIO DE JANEIRO', 'RIO DE JANEIRO', datetime.datetime(2025, 7, 16, 0, 0), datetime.datetime(2025, 7, 16, 0, 0), 'Qualificado', 'Sim', 'Entre 300k e 500k', datetime.datetime(2025, 7, 17, 0, 0), None, None, None, None, '1', '1', None, None, None, None, None, '0', '370918.41', None, None, None, None, None, 60000.0, 173000.0, '21236926', 'ATRIA INVESTIMENTOS AI LTDA', '5154728', datetime.datetime(2025, 7, 16, 19, 51, 55), 'caic.zem@atriainvest.com.br', '9fae3d1246f1034aa0174d0eb2ff0475')  ... displaying 10 of 162 total bound parameter sets ...  ('Lucilene', '21414644', None, 'VITOR OLIVEIRA DOS REIS', 'AGENTE AUTONOMO', 'lucilenesousa0406@gmail.com', None, 'PF', datetime.datetime(1980, 6, 4, 0, 0), 'Comerciante', 'Casado', 'FOZ DO IGUACU', 'PARANA', datetime.datetime(2026, 2, 1, 0, 0), datetime.datetime(2026, 2, 1, 0, 0), 'Nao Qualificado', None, 'Até 300k', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 42000.0, 25000.0, '21236926', 'ATRIA INVESTIMENTOS AI LTDA', '19496701', datetime.datetime(2026, 2, 1, 19, 30, 47), 'vitor.reis@atriainvest.com.br', '2a3ffec200bd966f75b668d76ec0a18e'), ('Anita', '21491212', None, 'GUILHERME DE LUCCA BERTELONI', 'AGENTE AUTONOMO', 'anitalmoraes@gmail.com', None, 'PF', datetime.datetime(2005, 9, 29, 0, 0), 'Estudante', 'Solteiro', 'JUNDIAI', 'SAO PAULO', datetime.datetime(2026, 2, 2, 0, 0), datetime.datetime(2026, 2, 2, 0, 0), 'Nao Qualificado', None, 'Até 300k', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 48000.0, 1000.0, '21236926', 'ATRIA INVESTIMENTOS AI LTDA', '57885424', datetime.datetime(2026, 2, 2, 21, 9), 'guilherme.delucca@atriainvest.com.br', 'b54562f6bd7c4b4d1fb5811d9f2c9c62')]]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

Processo finalizado para todas as tabelas.